.carrito{
    height: 60px;
}
.button-carrito{
    background-color: transparent;
    border: none;
    border-radius: 40px;
    margin-right: 30px;
}
.button-producto{
    border-radius: 50px;
    font-size: 10px;
}