.CartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
  }
  
  .CartItemDetails {
    flex: 1;
  }
  
  h3 {
    font-size: 1.2rem;
    margin: 0;
  }
  
  p {
    margin: 0.5rem 0;
  }
  
  .RemoveButton {
    background-color: #ff5555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .RemoveButton:hover {
    background-color: #dd4444;
  }